<style>
  .gumb {
    border: none;
    background-color: inherit;
    padding: 4px 16px;
    font-size: 11px;
    cursor: pointer;
    display: inline-block;
    color: gray;
  }
  .gumb1 {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  margin: 5px 3px;
  transition-duration: 0.4s;
  background-color: white; 
  color: black; 
  border: 2px solid rgb(115, 179, 190);
  border-radius: 4px;
}

.gumb1:hover {
  background-color: rgb(193, 226, 215);
  color: rgb(0, 0, 0);
}
  </style>

<div class="card card-body">
    <div class="card-deck list row">
      <div class="list-row col-12">
        <div class="row">
          <div class="col-md-1 list-day">
            <div id="flip"><img src="{{ROOT}}static/favicon.ico" alt="" width="35" height="35" class="mr-2 rounded"></div>
          </div>
          <div class="col-md-5 list-title">
            <div class="a"><b>{{ime_aktivnosti}}</b></div>
            <p><b>{{tip}}</b></p>
          </div>
          <div class="col-md-3 list-hour">
            <div class="a"><a><b>{{datum}}</b></a></div>
            <p><b>{{cas}}</b></p>
          </div>
          %if uporabnik_prijavljen in udelezenci:
          <div class="col-md-1.5 list-hour">
            <a class="gumb1" href="{{ROOT}}uporabnik/{{uporabnik_prijavljen}}/{{id}}/zapusti_dogodek/{{stran}}/">Zapusti dogodek</a> 
          </div>
          %else:
          <div class="col-md-3 list-hour">
            <a class="gumb1" href="{{ROOT}}uporabnik/{{uporabnik_prijavljen}}/{{id}}/pridruzi_se/{{stran}}/">Pridruži se</a> 
          </div>
          %end

        </div>
      </div>
      <div class="list-row col-12">
        <div class="header_background" >
          <button class="gumb" type="button" data-toggle="collapse" data-target="#dogodek{{id}}" aria-expanded="false" aria-controls="dogodek{{id}}">
            več
          </button>
        </div>
        <div class="collapse" id="dogodek{{id}}">
          <div class="row">
            <div class="col-md-1 list-day"></div>
            <div class="col-md-5 list-title">
              <div style ="color:rgb(128, 115, 115)">Organizator:</div>
              <p style ="color:rgb(128, 115, 115)">{{ime_organizator}} {{priimek_organizator}}
              <br><a class="trac-uporabnik" href="{{ROOT}}uporabnik/{{organizator}}/">@{{organizator}}</a></p>
            </div>
            <div class="col-md-3 list-title">
              <div style ="color:rgb(128, 115, 115)">Lokacija:</div>
              <p style ="color:rgb(128, 115, 115)"> 
                %if ulica != None and hisna_stevilka != None:
                {{ulica}} {{hisna_stevilka}}
                %end
                %if postna_stevilka != None and kraj != None:
                <br>{{postna_stevilka}} {{kraj}}</p>
                %end
            </div>
            <div class="col-md-3 list-title">
              <div style ="color:rgb(128, 115, 115)">Število mest:</div>
              <p style ="color:rgb(128, 115, 115)">
                %if stevilo_udelezencev != None: 
                {{stevilo_udelezencev}}
                %end
              </p>
            </div>
          </div>       
          <div class="row">
            <div class="col-md-1 list-day"></div>
            <div class="col-md-8 list-title">
              <div style ="color:rgb(128, 115, 115)">Opis:</div>
              <p style ="color:rgb(128, 115, 115)">{{opis}}</p>
            </div>
            <div class="col-md-3 list-title">
              <p style ="color:rgb(128, 115, 115)"></p>
                <div style ="color:rgb(128, 115, 115)">Udelezenci:</div>
                %for udelezenec in udelezenci:
                <a class="trac-uporabnik" href="{{ROOT}}uporabnik/{{udelezenec}}/">@{{udelezenec}}</a><br>
                %end
              </p>
            </div>
          </div> 
          %if organizator == uporabnik_prijavljen:
          <div class="col-md-1.5 list-hour">
            <a class="gumb1" href="{{ROOT}}uporabnik/{{uporabnik_prijavljen}}/{{id}}/odstrani_dogodek/{{stran}}/">Izbriši dogodek</a> 
          </div>
          %end   

          
      </div>
    </div>
  </div>
</div>


