%rebase('osnova.html', title='AktiNet')
% include('orodna-vrstica.html')

%if sporocilo:
  <div class="alert {{sporocilo[0]}} alert-dismissable">{{sporocilo[1]}}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </div>
%end

<h3 class="p-2 pt-4">Priporočeni dogodki</h3>

%for (id, aktivnost_id, ime_aktivnosti, tip, organizator, ime_organizator, priimek_organizator, stevilo_udelezencev, datum,cas, hisna_stevilka, ulica, postna_stevilka, kraj, opis, udelezenci) in dogodki:
  %include('dogodek.html')
<br>
%end
</div>

<h3 class="p-2 pt-4">Najnovejše objave</h3>

%for (tid,avtor,avtor_ime, avtor_priimek,cas,vsebina,komentarji) in traci:
<div class="my-3 p-3 bg-white rounded shadow">
  %include('trac.html', tid=tid, avtor=avtor, avtor_ime=avtor_ime, cas=cas, vsebina=vsebina, komentarji=komentarji)
</div>
%end

