%rebase('osnova.html', title='AktiNet')
% include('orodna-vrstica.html')

%if sporocilo:
  <div class="alert {{sporocilo[0]}} alert-dismissable">{{sporocilo[1]}}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </div>
%end

<br>
<h4 class="p-2 pt-4">Dogodki, ki jih organiziraš:</h4>
<br>

%for (id, aktivnost_id, ime_aktivnosti, tip, organizator, ime_organizator, priimek_organizator, stevilo_udelezencev, datum,cas, hisna_stevilka, ulica, postna_stevilka, kraj, opis, udelezenci) in dogodki_jih_organizira:
%include('dogodek.html')
<br>
%end

<br>
<h4 class="p-2 pt-4">Dogodki, ki se jih boš udeležil:</h4>
<br>

%for (id, aktivnost_id, ime_aktivnosti, tip, organizator, ime_organizator, priimek_organizator, stevilo_udelezencev, datum,cas, hisna_stevilka, ulica, postna_stevilka, kraj, opis, udelezenci) in dogodki_se_udelezi:
%include('dogodek.html')
<br>
%end

