<nav class="navbar mt-3 navbar-expand-md shadow bg-light navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/uporabnik/{{uporabnik_prijavljen}}/dodaj_dogodek/">Dodaj dogodek</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/uporabnik/{{uporabnik_prijavljen}}/moji_dogodki/">Moji dogodki</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/uporabnik/{{uporabnik_prijavljen}}/zasledovani/">Poišči dogodke</a>
      </li>
    </ul>
  </nav>