<nav class="navbar mt-3 navbar-expand-md shadow bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/uporabnik/{{uporabnik}}/">Moje objave</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/uporabnik/{{uporabnik}}/sledilci/">Sledilci</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/uporabnik/{{uporabnik}}/zasledovani/">Zasledovani</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/uporabnik/{{uporabnik}}/aktivnosti/">Moje aktivnosti</a>
    </li>
    %if uporabnik_prijavljen==uporabnik:
    <li class="nav-item">
      <a class="nav-link" href="/uporabnik/{{uporabnik}}/sporocila/">Sporočila</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Predlogi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/uporabnik/{{uporabnik_prijavljen}}/moji_dogodki/">Moji dogodki</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/uporabnik/{{uporabnik}}/uredi_profil/">Uredi profil</a>
    </li>
    %end
  </ul>
</nav>