<nav class="navbar mt-3 navbar-expand-md shadow bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{{ROOT}}uporabnik/{{uporabnik}}/">
        %if uporabnik_prijavljen==uporabnik:
        Moje objave
        %else:
        Objave
        %end
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ROOT}}uporabnik/{{uporabnik}}/sledilci/">Sledilci</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ROOT}}uporabnik/{{uporabnik}}/zasledovani/">Zasledovani</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ROOT}}uporabnik/{{uporabnik}}/aktivnosti/">
        %if uporabnik_prijavljen==uporabnik:
        Moje aktivnosti
        %else:
        Aktivnosti
        %end
      </a>
    </li>
    %if uporabnik_prijavljen==uporabnik:
    <li class="nav-item">
      <a class="nav-link" href="{{ROOT}}uporabnik/{{uporabnik}}/sporocila/">Sporočila</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ROOT}}uporabnik/{{uporabnik_prijavljen}}/moji_dogodki/">Moji dogodki</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ROOT}}uporabnik/{{uporabnik}}/uredi_profil/">Uredi profil</a>
    </li>
    %else:
    <li class="nav-item">
      <a class="nav-link" href="{{ROOT}}uporabnik/{{uporabnik}}/moji_dogodki/">Dogodki</a>
    </li>
    %end
  </ul>
</nav>