%rebase('osnova.html', title=profil_ime + ' ' + profil_priimek)

% include('orodna-vrstica.html')

%if sporocilo:
  <div class="alert {{sporocilo[0]}} alert-dismissable">{{sporocilo[1]}}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </div>
%end
<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
    <img class="mr-3" src="{{ROOT}}static/ikona.svg" alt="" width="55" height="55">
    <div class="lh-100 p-2">
      <h2 class="mb-0 text-white lh-100">{{profil_ime}} {{profil_priimek}}</h2>
    </div>
    %if uporabnik != uporabnik_prijavljen:
    <form method="post" action="{{ROOT}}uporabnik/{{uporabnik}}/" class="controls ml-auto p-2">
      <input type="submit" id="gumb_sledi" name="gumb_sledi"
      %if ali_sledi: 
      class="btn btn-outline-secondary mr-3" value="Prenehaj slediti"
      %else:
      class="btn btn-outline-primary mr-3" value="Sledi"
      %end
      ></input>
    </form>
    <a class="btn btn-outline-success" href="{{ROOT}}uporabnik/{{uporabnik_prijavljen}}/sporocila/{{uporabnik}}/#text-polje">Pošlji sporočilo</a>
    %end
</div>
%if uporabnik == uporabnik_prijavljen:
<div class="my-3 p-3  bg-transparent rounded box-shadow">
  
  <h4 class="pb-2 mb-0 ">Dodaj objavo</h4>
<form id="trac-forma bg-white" class="form-horizontal" method="post" action="{{ROOT}}uporabnik/{{uporabnik_prijavljen}}/objavi">
  <fieldset>
  
  <!-- Textarea -->
  <div class="control-group">
    <label class="control-label" for="trac"></label>
    <div class="controls">                     
      <textarea id=objava name="objava" class="form-control input-lg p-text-area" rows="2" placeholder="Kaj imaš v mislih?"></textarea>
    </div>
  </div>
  
  <!-- Button -->
  <div class="control-group text-right">
    <label class="control-label" for="singlebutton"></label>
    <div class="controls">
      <button id="singlebutton" name="singlebutton" class="btn btn-primary">Objavi</button>
    </div>
  </div>
  
  </fieldset>
  </form>
</div>
%end

%for (oid,avtor,avtor_ime, avtor_priimek,cas,vsebina,komentarji) in objave:
<div class="my-3 p-3 bg-white rounded shadow">
  <a name="objava-{{oid}}">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="d-flex align-items-center m-1">
            <img class="mr-3" src="{{ROOT}}static/ikona.svg" alt="" width="40" height="40">
            <div class="pl-2 media-body">
            <strong class="text-gray-dark">{{avtor_ime}} {{avtor_priimek}}</strong>
            <div><a class="trac-uporabnik" href="{{ROOT}}uporabnik/{{avtor}}/">@{{avtor}}</a></div>
            </div>
            <i class="trac-cas mb-3 small">{{cas}}</i>
          </div>
        </div>
        <div class="ml-2 mb-4 panel-body">
          <div class="trac-vsebina">{{vsebina}}</div>
            <div class="track-kontrole">
            %if avtor == uporabnik_prijavljen:
            <div class="text-right">
            <a href="{{ROOT}}uporabnik/{{uporabnik}}/objava/{{oid}}/brisi/" class="pb-3 small">zbriši</a></div>
            %end
            </div>
        </div>
        <div class="panel-footer">
          <div class="panel-body">
            %for (username, ime_komentator, priimek_komentator, vsebina, komentar_cas, kid) in komentarji:
              <div class="card card-body m-3 small">
                <div class="d-flex align-items-center m-1">
                  <img class="mr-3" src="{{ROOT}}static/ikona.svg" alt="" width="40" height="40">
                  <div class="pl-2 media-body">
                  <strong class="text-gray-dark">{{ime_komentator}} {{priimek_komentator}}</strong>
                  <div><a class="trac-uporabnik" href="{{ROOT}}uporabnik/{{avtor}}/">@{{username}}</a></div>
                  </div>
                  <i class="trac-cas mb-3 small">{{komentar_cas}}</i>
                </div>
                <div class="pt-3">{{vsebina}}</div>
                <div class="track-kontrole">
                %if username == uporabnik_prijavljen:
                <div class="text-right">
                <a href="{{ROOT}}uporabnik/{{uporabnik}}/komentar/{{oid}}/{{kid}}/brisi/" class="pb-3 small">zbriši</a></div>
                %end
                </div>
              </div>
            %end
          </div>
        </div>
        <div class="panel-footer text-right mx-3">
          <form method="post" action="{{ROOT}}uporabnik/{{uporabnik}}/komentiraj/{{oid}}/">
            <textarea class="form-control input-lg p-text-area" name="komentar" placeholder="Komentiraj objavo."></textarea>
            <input class="btn btn-primary" id="komentar-button" type="submit" value="Komentiraj"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</a> 
</div>
%end