<!DOCTYPE html>
<html lang="si">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <title>AktiNet registracija</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/prijava.css" rel="stylesheet">

  </head>

  <body  class="text-center">

    <div class="container">
      <form class="form-signin" role="form" method="post" action=".">
        <h2 class="form-signin-heading">Registracija</h2>
        %if napaka:
        <div class="alert alert-warning">{{napaka}}</div>
        %end

        <input type="username" class="form-control" placeholder="Uporabniško ime"
               %if defined( 'uporabnik' ) :
               value="{{uporabnik}}"
               %end
               name="uporabnik"
               required autofocus>
        <input type="username" class="form-control" placeholder="Ime"
               %if ( 'ime' ) :
               value="{{ime}}"
               %end
               name="ime"
               required>
        <input type="username" class="form-control" placeholder="Priimek"
               %if ( 'priimek' ):
               value="{{priimek}}"
               %end
               name="priimek"
               required>
        <input type="password" class="form-control" placeholder="Geslo" name="geslo1" required>
        <input type="password" class="form-control" placeholder="Ponovno vpiši geslo" name="geslo2" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Registriraj se</button>
        <div>
            <a href="/prijava/">Prijava</a>
        </div>
      </form>
    </div>
  </body>
</html>
