%rebase('osnova.html', title=profil_ime + ' ' + profil_priimek)

% include('orodna-vrstica.html')

<div class="d-flex justify-content-between align-items-center">
  <h3 class="p-2 pt-4">Sledilci</h3>
  <div>
    <input class="form-control mr-sm-2" id="isci" type="text" placeholder="Išči po sledilcih" oninput="isci({{sledilci}})" />
  </div>
</div>
%for (uporabnisko_ime_sledilec, ime_sledilec, priimek_sledilec) in sledilci:
<div id="{{uporabnisko_ime_sledilec}}">
  <div class="d-flex align-items-center p-3 my-3  rounded shadow">
    <img class="mr-3" src="/static/ikona.svg" alt="" width="40" height="40">
    <div class="pl-2 media-body">
    <strong class="text-gray-dark">{{ime_sledilec}} {{priimek_sledilec}}</strong>
    <div><a class="trac-uporabnik" href="/uporabnik/{{uporabnisko_ime_sledilec}}/">@{{uporabnisko_ime_sledilec}}</a></div>
    </div>
    %if uporabnisko_ime_sledilec in zasledovani_prijavljenega:
    <a class="btn btn-outline-secondary mr-3" href="/{{uporabnik}}/{{uporabnisko_ime_sledilec}}/sledilci/prenehaj">Prenehaj slediti</a>
    %elif uporabnisko_ime_sledilec != uporabnik_prijavljen:
    <a class="btn btn-outline-primary mr-3" href="/{{uporabnik}}/{{uporabnisko_ime_sledilec}}/sledilci/pricni">Sledi</a>
    %end
    <a class="btn btn-outline-success" href="/uporabnik/{{uporabnik}}/sporocila/{{uporabnisko_ime_sledilec}}/">Pošlji sporočilo</a>
  </div>
</div>
%end
