%rebase('osnova.html', title=profil_ime + ' ' + profil_priimek)

% include('orodna-vrstica.html')

%if sporocilo:
  <div class="alert {{sporocilo[0]}} alert-dismissable">{{sporocilo[1]}}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </div>
%end

<div class="container pt-3">
<form action="/uporabnik/{{uporabnik_prijavljen}}/sporocila/{{odprt_pogovor}}/isci/" method="post" class="bg-light col-5 align-self-start">
  <div class="input-group">
    <input type="text" placeholder="Išči uporabnika" name="isci_uporabnika" id="isci_uporabnika" class="shadow border form-control rounded-4 border-0 py-4 bg-light">
    <div class="input-group-append">
      <button type="submit" class="shadow btn btn-outline-success"> <i class="fa fa-paper-plane">Išči</i></button>
    </div>
  </div>
</form>
</div>

<div class="container py-3 px-3">
    <div class="row rounded-lg overflow-hidden shadow">
      <!-- Users box-->
      <div class="col-5 px-0">
        <div class="bg-white">
          <div class="bg-gray px-4 py-2 bg-light">
            <p class="h5 mb-0 py-1">Nedavna sporocila</p>
          </div>

          <div class="messages-box">
            <div class="list-group rounded-0">
              %for oseba in osebe:
              %if odprt_pogovor == oseba:
              <a class="list-group-item list-group-item-action active text-white rounded-0">
              %else:
              <a href="/uporabnik/{{uporabnik}}/sporocila/{{oseba}}/" class="list-group-item list-group-item-action list-group-item-light rounded-0">
              %end
                <div class="media"><img src="/static/ikona.svg" alt="user" width="50" class="rounded-circle">
                  <div class="media-body ml-4">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                      <h6 class="mb-0">{{oseba}}</h6><small class="small font-weight-bold">
                        %cas = pogovori[oseba][0][2]
                        {{cas}}
                      </small>
                    </div>
                    
                    %if odprt_pogovor == oseba:
                    <p class="font-italic mb-0 text-small">
                    %else:
                    <p class="font-italic text-muted mb-0 text-small">
                    %end
                      %vsebina = pogovori[oseba][0][1]
                      {{vsebina}}
                    </p>
                  </div>
                </div>
              </a>
              %end  
            </div>
          </div>
        </div>
      </div>
      <!-- Chat Box-->
      <div class="col-7 px-0">
        <div class="px-4 py-5 chat-box bg-white">
          %for (p,vsebina,cas) in pogovori.get(odprt_pogovor,[])[::-1]:
          <!-- Sender Message-->
          %if p:
          <div class="media w-50 mb-3"><img src="/static/ikona.svg" alt="user" width="50" class="rounded-circle">
            <div class="media-body ml-3">
              <div class="bg-light rounded py-2 px-3 mb-2">
                <p class="text-small mb-0 text-muted">{{vsebina}}</p>
              </div>
          %else:
          <div class="media w-50 ml-auto mb-3">
            <div class="media-body">
              <div class="bg-primary rounded py-2 px-3 mb-2">
                <p class="text-small mb-0 text-white">{{vsebina}}</p>
              </div>
          %end
              <p class="small text-muted">{{cas}}</p>
            </div>
          </div>
          %end  
        </div>
  
        <!-- Typing area -->
        <form action="/uporabnik/{{uporabnik_prijavljen}}/sporocila/{{odprt_pogovor}}/" method="post" class="bg-light">
          <div class="input-group">
            <input type="text" placeholder="Napiši sporočilo" name="novo_sporocilo" id="novo_sporocilo" class="form-control rounded-0 border-0 py-4 bg-light">
            <div class="input-group-append">
              <button id="button-addon2" type="submit" class="btn btn-outline-primary"> <i class="fa fa-paper-plane">BUM</i></button>
            </div>
          </div>
        </form>
  
      </div>
    </div>
  </div>