%rebase ('osnova.html', title=profil_ime + ' ' + profil_priimek)

<div class="nav-scroller bg-white box-shadow">
  <nav class="nav nav-underline">
    <a class="nav-link active" href="/uporabnik/{{uporabnik}}/">Profil</a>
    <a class="nav-link" href="/uporabnik/{{uporabnik}}/sledilci/10/">
      Sledilci
    </a>
    <a class="nav-link" href="/uporabnik/{{uporabnik}}/zasledovani/10/">
      Zasledovani
    </a>
    <a class="nav-link" href="#">Moje aktivnosti</a>
    <a class="nav-link" href="#">Sporočila</a>
    <a class="nav-link" href="#">Predlogi</a>
    %if uporabnik_prijavljen==uporabnik:
    <a class="nav-link" href="/uporabnik/{{uporabnik}}/uredi_profil/">Uredi profil</a>
    %end
  </nav>
</div>

{{!base}}