%rebase ('uporabnik.html')

<div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Zasledovani</h6>
    %for (uporabnisko_ime_zasledovani, ime_zasledovani, priimek_zasledovani) in zasledovani:
    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <a class="trac-avtor" >{{ime_zasledovani}} {{priimek_zasledovani}}</a>
        <a class="trac-uporabnik" href="/uporabnik/{{uporabnisko_ime_zasledovani}}/">@{{uporabnisko_ime_zasledovani}}</a>
      </p>
    </div>
    %end
  </div>
  %if st_p < st_z:
  <small class="d-block text-right mt-3">
    %st = st_p + 10
    <a href="/uporabnik/{{uporabnik}}/zasledovani/{{st}}/">Prikaži več</a>
  </small>
  %end
</div>